<script>
  AOS.init();
</script>

<div class="contact-page">
	<div class="header">
		<div class="row">
			<div class="col-md-8 col-sm-8 text">
				<h2 data-aos="fade-up" data-aos-duration="2000">
				BOOK A FREE INDIVIDUAL EXPERT CONSULTATION!</h2>
				<h4 data-aos="fade-up" data-aos-duration="3000">
					We match your bright ideas with the best tech and the optimal development process.
					Let’s put your visions into action!
				</h4>
			</div>
			<div class="col-md-4 col-sm-4">
				<%= image_tag('/laptop.png') %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-4">
			<div class="text-box">

				<h3>
					30 to 60 Minutes <strong>FREE</strong> for:<br><br>
				</h3>

				<i class="fa fa-check" aria-hidden="true"></i><h4>Your Questions</h4><br>
		    <i class="fa fa-check" aria-hidden="true"></i><h4>Tips, Explanations and</h4><br>
		    <i class="fa fa-check" aria-hidden="true"></i><h4>Creating a specification document</h4><br>
		    <i class="fa fa-check" aria-hidden="true"></i><h4>Outline of a potential software solution to your problem</h4>

			</div>
		</div>
		<div class="col-md-8 col-sm-8">
			<div class="booking-box">
				<iframe src="https://jonaspreisler.youcanbook.me/?noframe=true&skipHeaderFooter=true" id="ycbmiframejonaspreisler" style="width:100%;height:1000px;border:0px;background-color:transparent;" frameborder="0" allowtransparency="true"></iframe><script>window.addEventListener && window.addEventListener("message", function(event){if (event.origin === "https://jonaspreisler.youcanbook.me"){document.getElementById("ycbmiframejonaspreisler").style.height = event.data + "px";}}, false);</script>
			</div>
		</div>
	</div><br>

	<div class="row">
		<div class="col-md-4 col-sm-4">
		</div>
		<div class="col-md-4 col-sm-4">
			<%#= image_tag('/laptop2.png', style: 'width: 100%;') %>
		</div>
	</div>

</div>
