<div class="row bg" style="background: #EEEEEE">
	<center style="padding-top:50px">
		<h1 style="font-size: 34px" >Få 50 leads om ugen med Messenger</h1><br>

	<iframe width="800" height="450" src="https://www.youtube.com/embed/TpigJNeY3RU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	</center>

</div>

<div class="grey">
  <div class="only-desktop"">
    <center>
      <%= link_to "Lad os snakke om dit projekt!", pages_contact_path, class: 'jp-nav btn btn-primary2 btn-large' %>
    </center>
  </div>
  <div class="only-mobile"">
    <center>
      <%= link_to "Lad os snakke om dit projekt!", pages_contact_path, class: 'jp-nav btn btn-primary-mobile' %>
    </center>
  </div>
<br>
</div>
<div class="only-desktop">
  <div class="black">
    <div class="row">
      <div class="col-md-8 col-sm-6">
        <h3 style="color:#9a9a9a;font-weight:300;padding-top:20px;"><i>Hej! Jeg er Jonas.</i></h3>
        <h2 style="color:#9a9a9a;">
          Jeg er digital udvikler
          <a style="color:#f3992e;" class="typewrite" data-period="2000" data-type='[ "med vision.", "arbejder hårdt.", "med nysgerrighed.", "som ikke spilder tiden.", "som elsker kaffe."  ]'>
            <span class="wrap"></span>
          </a>
        </h2>
        <br />
        <p style="color:#9a9a9a;font-weight:300;width:60%;background: #000;font-size:16px;">Jeg elsker at udvikle smarte online apps og design. <br>
        	Jeg har også professionel erfaring med Facebook marketing. Evt. tjek min <a href="https://digitalspartan.com" target="_blank">blog.</a>
        
      </div>
      <div class="col-md-4 col-sm-4" style="width:300px;float:right;">
        <%= image_tag ('/jonas-black.jpg') %>
      </div>
    </div>
  </div>
</div>

<div class="only-mobile">
  <div class="black-mobile">
    <div class="black-mobile-margin">
      <div class="row">
        <div class="col-md-4 col-sm-4" style="width:300px;float:right;">
          <%= image_tag ('/jonas-black.jpg') %>
          <h3 style="color:#9a9a9a;font-weight:300;padding-top:40px;">Hej! Jeg er Jonas.</h3>
          <p style="color:#9a9a9a;font-weight:300;background: #000;font-size:16px">Jeg elsker at udvikle smarte online apps og design. <br>
        	Jeg har også professionel erfaring med Facebook marketing. Evt. tjek min <a href="https://digitalspartan.com" target="_blank">blog.</a>
          
          <h2 style="color:#9a9a9a;">
            I am a developer 
            <a style="color:#f3992e;" class="typewrite" data-period="2000" data-type='[ "med vision.", "arbejder hårdt.", "med nysgerrighed.", "som ikke spilder tiden.", "som elsker kaffe."  ]'>
              <span class="wrap"></span>
            </a>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
</div>