<div style="padding:40px">
PRIVACY POLICY<br /><br />
This app is only for testing.<br /><br />

I have a client who needs an app that can post on his Facebook page, so for now I'm using this app for testing.
</div>