/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require aos
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


body, p {
    font-family: 'Gilroy light';
    src: url('HelveticaNeue-Roman.woff2') format('woff2'),
        url('HelveticaNeue-Roman.woff') format('woff'),
        url('HelveticaNeue-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}
@font-face {
  font-family: 'Helvetica Neue Black';
  src: asset_url('HelveticaNeue-Black.woff2') format('woff2'),
      asset_url('HelveticaNeue-Black.woff') format('woff'),
      asset_url('HelveticaNeue-Black.ttf') format('truetype');
  font-weight: 900 !important;
  font-size: 76px;
}
h1 {
  font-family: 'Gilroy bold' !important;
  font-size: 45px;
}
h2 {
  font-size: 30px;
  font-family: 'Gilroy bold' !important;
  color: #323232;
  margin: 0;
}
h5 {
  font-family: 'Gilroy bold' !important;
}

@font-face {
    font-family: 'Gilroy light';
    src: font-url('gilroy-light.otf') format('otf'),
        font-url('gilroy-light-webfont.woff') format('woff'),
        font-url('gilroy-light-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'Gilroy bold';
    src: font-url('gilroy-extrabold-webfont.otf') format('otf'),
        font-url('gilroy-extrabold-webfont.woff') format('woff'),
        font-url('gilroy-extrabold-webfont.woff2') format('woff2');
}