.page-card {
  background: #fff;
  @media only screen and (min-width: 765px) {
    padding: 20px;
  }
  @media only screen and (max-width: 765px) {
    padding: 10px;
  }
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 20px 0 20px;
  h4 {
    font-weight: 600;
    margin: 0 0 20px 0;
  }
}

.post-show {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 54%;
  @media (min-width: 644px) {
    margin: 0 23% 0 23%;
  }
  @media (max-width: 644px) {
    margin: 0 5% 0 5%;
  }
}