body {
    background-color: #fff;
}
h3 {
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .2);
}
a { color: #1c1c1c !important; text-decoration: none !important; }
.image-container {
    position: relative;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}
.image-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
    &:hover {
    -webkit-filter: blur(0px); /* Chrome, Safari, Opera */
    filter: blur(0px);
    }
}
img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.white-link {
    font-size: 20px;
    color: #1c1c1c;
    &:hover {
    color: #1c1c1c;
    text-decoration: none;
    }
}
.white-description {
    color: #9a9a9a;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px;
}

.box {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
}

.box:hover::after {
    opacity: 1;
}
.navbar-default {
    background: #444 !important;
    border: none !important;
}
.grey {
    background: #f3f2f2;
    padding: 80px;
}
.white {
    padding: 40px;
}
.black {
    background: #000;
    padding: 80px;
}
.black-mobile {
    background: #000;
}
.black-mobile-margin {
    width: 85%;
    padding-bottom: 30px;
    padding-top: 20px;
}
@media (min-width: 644px) {
  .only-mobile {
    display: none;
  }
}
@media (max-width: 644px) {
  .only-desktop {
    display: none;
  }
}
.page-title {
    padding-left: 50px;
    padding-right: 50px;
}
.navbar-default .navbar-nav > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
}
.navbar-nav > li > a {
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn {
  font-size: 20px !important;
}

.btn-large {
  font-size: 30px !important;
}
.btn-primary {
  background: lighten(#f3992e, 3%);  
  border: 1px solid darken(#f3992e, 4%);
  box-shadow: 0px 2px 0 darken(#c27a24, 1%), 2px 4px 6px darken(#c27a24, 1%);
  transition: all 150ms linear;
  color: #fff !important;
}

.btn-primary:hover {
  background: darken(#c27a24, 1.5%);
  background-color: #fad6ab !important;
  border: 1px solid rgba(#f6b76c, .05);
  box-shadow: 1px 1px 2px rgba(#f6b76c, .2);
  color: lighten(#f6b76c, 8%); 
  text-decoration: none;
  transition: all 250ms linear;
  color: #1c1c1c !important;
  font-weight: 600;
}

.btn-primary2 {
  color: #1c1c1c;
  font-size: 36px;
  text-shadow: 0 0.05rem 0.2rem rgba(0, 0, 0, .5);
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 10px;
}

.btn-primary2:hover {
  background: lighten(#f3992e, 3%);  
  border: 1px solid darken(#f3992e, 4%);
  box-shadow: 0px 2px 0 darken(#c27a24, 1%), 2px 4px 6px darken(#c27a24, 1%);
  transition: all 150ms linear;
  color: #fff !important;
}

.btn-primary3 {
  color: #1c1c1c;
  font-size: 26px;
  text-shadow: 0 0.05rem 0.2rem rgba(0, 0, 0, .5);
  font-weight: 500;
  margin-top: 30px;
  border-radius: 5px;
  background: linear-gradient(to bottom right, #c9720c, #f6b15e) !important;
  box-shadow: 2px 4px 6px darken(#c9720c, 1%);
  transition: all 150ms linear;
  color: #fff !important;
}

.btn-primary3:hover {
  background: #f6b15e;
}
.btn-primary-mobile {
  color: #1c1c1c;
  font-size: 18px;
  text-shadow: 0 0.05rem 0.2rem rgba(0, 0, 0, .5);
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 10px;
}

.btn-primary-mobile:hover {
  background: lighten(#f3992e, 3%);  
  border: 1px solid darken(#f3992e, 4%);
  box-shadow: 0px 2px 0 darken(#c27a24, 1%), 2px 4px 6px darken(#c27a24, 1%);
  transition: all 150ms linear;
  color: #fff !important;
}
.typewrite {
  color: #9a9a9a;
  text-decoration: none !important;
}
.typewrite .wrap {
  border-right: 3px solid #9a9a9a !important;
}
.gif {
  width: 100px;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bg {
   background-image: url("/bg.png");
   width: 100%;
}
.padding {
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.padding-mobile {
  padding-top: 50px;
}
.headline-mobile {
  font-size: 40px;
  color: #f3f2f2;
  font-weight: 700;
  font-family: poppins bold, poppins;
}
.website {
  background: linear-gradient(to bottom right, #33b7b2, #337ab7);
  color: #f3f2f2;
  font-size: 22px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
    opacity: 0.8;
    color: #f3f2f2;
    text-decoration: none;
  }
}

.partner {
  width: 180px
}



/* ---------------------------------------------------
     PROJECTS INDEX
----------------------------------------------------- */

.rotate {
  transform: rotate(3deg);
}
.btn-call-to-action {
  border-radius: 3px;
  padding: 20px;
  background: #1c1c1c;
  color: #f3f2f2 !important;
  position: relative;
  transition: .3s;
  &:hover {
    box-shadow: 4px 4px #c3c2c2;
  }
}
.sb:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #1c1c1c;
  border-right: 10px solid transparent;
  border-top: 10px solid #1c1c1c;
  border-bottom: 10px solid transparent;
  left: 19px;
  bottom: -19px;
}

.slanted {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}
.headline {
  color: #1c1c1c;
  transform: rotate(-1deg);
}
.header-image {
  position: relative;
  width:100%;
  height:100%;
  background: url('/bg.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.row {
  margin: 0 !important;
}
#particles-js {
   width: 100%;
   height: 100%;
   color: #1c1c1c;
   position: absolute;
}
.red {
  background: #f3372e;
  padding: 80px;
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.header {
  position: relative;
  width:100%;
  height:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  .layer {
    background: linear-gradient(to bottom right, rgba(243, 153, 46, .2), rgba(243, 55, 46, .6));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.95;
  }
  .col-sm-6, .col-md-6 {
    padding: 0;
  }
}

.header-2 {
  position: relative;
  background: url(/bg.jpg) no-repeat center center;
  width:100%;
  height:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  .layer {
    background: linear-gradient(to bottom right, rgba(170, 107, 32, 0.2), rgba(170, 38, 32, 0.6));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .col-sm-6, .col-md-6 {
    padding: 0;
  }
}
.featured {
  transition: .3s;
  h2 {
    color: #fff;
  }
  p {
    color: #fff
  }
  &:hover {
    box-shadow: inset 0 0 50px 20px rgba(0, 0, 0, 0.4);
  }
}
.sub-heading {
  transform: rotate(3deg);
  color: #fff;
  font-size: 4vw;
}
#particles-js {
  height: 50%;
  bottom: 0;
}
.logo-landing {
  padding: 15px;
  .logo {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.3em;
  }
  .logo-sub {
    color: #fff;
    letter-spacing: 0.4em;
    font-size: 12px;
    font-weight: 300;
  }
}

.padding-top {
  padding-top: 10vw;
}
/* ---------------------------------------------------
    END OF PROJECTS INDEX
----------------------------------------------------- */
