@import "bootstrap-sprockets";
@import "bootstrap";



body {
    background-color: #fff;
    font-family: 'poppins';
}
h1 {
    text-shadow: 0 0.05rem 0.2rem rgba(0, 0, 0, .5);
}
h3 {
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .2);
}
.image-container {
    position: relative;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}
.image-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
    &:hover {
    -webkit-filter: blur(0px); /* Chrome, Safari, Opera */
    filter: blur(0px);
    }
}
img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.white-link {
    font-size: 20px;
    color: #1c1c1c;
    &:hover {
    color: #1c1c1c;
    text-decoration: none;
    }
}
.white-description {
    color: #9a9a9a;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px;
}

.box {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}

.box:hover::after {
    opacity: 1;
}
.logo {
    padding: 5px;
    width: 105px;
    padding-top: 8px;
    padding-left: 15px;
}
.navbar-default {
    background: #fff;
    border: none;
}
.grey {
    background: #f3f2f2;
    padding: 80px;
}
.black {
    background: #000;
    padding: 80px;
}
@media (min-width: 644px) {
  .only-mobile {
    display: none;
  }
}
@media (max-width: 644px) {
  .only-desktop {
    display: none;
  }
}
.page-title {
    padding-left: 50px;
    padding-right: 50px;
}
.padding-top {
  padding-top: 30px;
}
.navbar-default .navbar-nav > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
}
.navbar-nav > li > a {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-primary {
  background: lighten(#f3992e, 3%);  
  border: 1px solid darken(#f3992e, 4%);
  box-shadow: 0px 2px 0 darken(#c27a24, 1%), 2px 4px 6px darken(#c27a24, 1%);
  transition: all 150ms linear;
  color: #fff !important;
}

.btn-primary:hover {
  background: darken(#c27a24, 1.5%);
  background-color: #fad6ab !important;
  border: 1px solid rgba(#f6b76c, .05);
  box-shadow: 1px 1px 2px rgba(#f6b76c, .2);
  color: lighten(#f6b76c, 8%); 
  text-decoration: none;
  transition: all 250ms linear;
  color: #1c1c1c !important;
  font-weight: 600;
}

.btn-primary2 {
  color: #1c1c1c;
  font-size: 36px;
  text-shadow: 0 0.05rem 0.2rem rgba(0, 0, 0, .5);
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 10px;
}

.btn-primary2:hover {
  background: lighten(#f3992e, 3%);  
  border: 1px solid darken(#f3992e, 4%);
  box-shadow: 0px 2px 0 darken(#c27a24, 1%), 2px 4px 6px darken(#c27a24, 1%);
  transition: all 150ms linear;
  color: #fff !important;
}

.btn-primary-mobile {
  color: #1c1c1c;
  font-size: 18px;
  text-shadow: 0 0.05rem 0.2rem rgba(0, 0, 0, .5);
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 10px;
}

.btn-primary-mobile:hover {
  background: lighten(#f3992e, 3%);  
  border: 1px solid darken(#f3992e, 4%);
  box-shadow: 0px 2px 0 darken(#c27a24, 1%), 2px 4px 6px darken(#c27a24, 1%);
  transition: all 150ms linear;
  color: #fff !important;
}
.typewrite {
  color: #1c1c1c;
  text-decoration: none !important;
}
.typewrite .wrap {
  border-right: 3px solid #1c1c1c !important;
}
