<div class="footer" style="padding-top:40px;">
  <div id="footer">
    <div class="container">
      <p class="text-muted credit text-center">
      	2019 &copy Tekuila | hello@jonaspreisler.com
      </p>
    </div>
  </div>
</div>