<div class="footer" style="padding-top:40px;">
    <div id="footer">
      <div class="container">
        <p class="text-muted credit text-center">
        	2018 &copy Jonas Preisler | hej@jonaspreisler.com
        </p>
      </div>
    </div>
</div>