<%= link_to "Contact", booking_path, class: 'nav-top-button', style: 'float: right' %>
<div>
<center>
	<div style="padding: 10px;display: inline-flex;">
      <%= link_to 'JONAS', root_path, style: "font-size: 20px;font-family: 'Helvetica Neue Black';" %><%= link_to 'PREISLER', root_path, style: 'font-size: 20px;color: #c3c2c2 !important' %>
  </div>
</center>
</div>