
  <div class="logo">
    <center>
      <h2 style="color: #1c1c1c;text-decoration: underline;"><%= link_to 'TEKUILA', root_path %></h2>
      <div class="logo-sub">digital agency</div>
    </center>
  </div>
