
  <div class="logo">
    <center>
			<div style="padding: 10px;" class="desktop">
		    <h2 style="color: #f3f2f2;font-size: 20px;">JONAS</h2>
		    <h2 style="color: #f3f2f2;font-size: 14px;">PREISLER</h2>
		  </div>
		  <div style="padding: 10px;" class="mobile">
		    <center>
		      <h2 style="color: #f3f2f2;font-size: 20px;">JONAS</h2>
		      <h2 style="color: #f3f2f2;font-size: 14px;">PREISLER</h2>
		    </center>
		  </div>
    </center>
  </div>
